
body{  


padding:0;
margin: 0;



}

#container {

justify-content: center;  



}

#display {

text-align: center;
color : white;
font-size: 50px;
font-size: 90px;

font-family: 'Courier New', Courier, monospace;
 
justify-content: center;




}

body {

background-color: rgb(243, 53, 53);



}


span {
      display:flex;
      justify-content: center;
      
      
       

}


button {

        background-color : rgb(103, 212, 103);
        border-style:none;
        border-radius: 5px;
        font-size: xx-large;
        margin:50px;
        padding:10px;
        


}

#edit-container {

          display:grid;


}