
body{  


padding:0;
margin: 0;



}

#container {





}

#display {

text-align: center;
color : white;
font-family: 'Courier New', Courier, monospace;
font-size:100px;
}

@media(max-width:335px){

#display{    

        font-size:60px;
   }


}





body {

background-color: rgb(243, 53, 53);



}

#button-container {

               text-align: center;



}



button {

        background-color : rgb(103, 212, 103);
        border-style:none;
        border-radius: 5px;
        font-size: xx-large;
        min-width:100px;
        
        
        


}

#edit-container {

          display:grid;


}